<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Task description:</strong>
  <%= @task.task_description %>
</p>

<p>
  <strong>Gold count:</strong>
  <%= @task.gold_count %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
