= stylesheet_link_tag "form.css"
#form
  = form_with(model: project,:html => {:class => "form-horizontal center"}, local: true) do |form|
    - if project.errors.any?
      #error_explanation
        %h2
          = pluralize(project.errors.count, "error")
          prohibited this project from being saved:
        %ul
          - project.errors.full_messages.each do |message|
            %li= message
    .form-group
      = form.label :project_name
      = form.text_field :project_name, class: "form-control"
    .form-group
      = form.label :project_description
      = form.text_field :project_description, class: "form-control"
    .form-group
      = form.label :member_count
      = form.number_field :member_count, class: "form-control"
    .form-group
      = form.label :user_id
      = form.number_field :user_id, class: "form-control"
    .form-group
      = form.submit "Submit", class: "btn btn-default btn-primary"

