- @project = Project.first
.panel.task-list-panel
    .h2.task-panel-title
        TASKS:
    .task-info-body
        - @project.tasks.each do |task|
            .task-name
                = task.task_name
            .br
            .li.task-desc
                = "- #{task.task_description}"
            .br
            .task-gold-count
                = "+ #{task.gold_count} Gold"
            .br

    %button.create-new-post-button
        = link_to 'New Task', new_task_path

