.panel.task-list-panel
    .h2.task-panel-title
        TASKS:
    .task-info-body
        - @project.tasks.each do |task|
            .row
                .col-md-8
                    .task-name
                        = "- #{task.task_name}"
                    .br
                    .li.task-desc
                        = "- #{task.task_description}"
                    .br
                    .task-gold-count
                        = "+ #{task.gold_count} Gold"
                    .br
                .col-md-4{style: "margin-top: 55px !important;"}
                    - if task.status != "complete"
                        = link_to 'Mark Complete', edit_task_path, data: { confirm: 'Are you sure?' }  
                    - else
                        Completed
    .row
        .col-md-6
            %button.create-new-post-button
                = link_to 'New Task', new_task_path
        .col-md-6
            %button.create-new-post-button
                = link_to 'Leave Feedback', "/users/awards"

    