- @projects = Project.all
%tbody.table-info
    - @projects.each do |project|
        %tr
            .project-details
                %td= project.project_name
                %td= project.project_description
                %td= project.member_count
        %tr
            .project-actions
                %td= link_to 'Open', project
                %td= link_to 'Edit', edit_project_path(project)
                %td= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }

.new-project-link
    %br/
    = link_to 'New Project', new_project_path