- @projects = Project.all
%tbody.table-info
    - current_user.projects.each do |project|
        .row.user-project-list-item
            %tr
                .col-md-6
                    .project-details
                        %td= project.project_name
                        %td= project.project_description
                        %td.member-count= project.member_count
            %tr
                .col-md-6
                    .project-actions
                        %td= link_to 'View', project
                        %td= link_to 'Edit', edit_project_path(project)
                        %td= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }

.new-project-link
    %br/
    = link_to 'New Project', new_project_path